[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cycler = '==0.11.0'
fonttools = '==4.31.2'
graphviz = '==0.19.1'
kiwisolver = '==1.4.2'
matplotlib = '==3.5.1'
packaging = '==21.3'
Pillow = '==9.0.1'
pyparsing = '==3.0.7'
PyQt5 = '==5.15.6'
PyQt5-Qt5 = '==5.15.2'
PyQt5-sip = '==12.9.1'
torch = '==1.11.0'
typing-extensions = '==4.1.1'
WebOb = '==1.8.7'
necnn = {editable = true, path = "."}
neat-python = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.8"
